<div style="text-align: right; margin-top: 0px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px">   
    <form action="/rentals/<%= @rental.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <br><br>
      <h3 style=" color: #4a5e6c; margin-right: 275px;"> Edit Rental:</h3><br><br>
      <label for="property_type">Property Type:</label>
      <input type="text" name="rental[property_type]" value="<%= @rental.property_type %>" /><br><br>

      <label for="address">Address: </label>
      <input type="text" name="rental[address]" value="<%= @rental.address %>" /><br><br>

      <label for="bedrooms">Bedrooms: </label>
      <input type="text" name="rental[bedrooms]" value="<%= @rental.bedrooms %>" /><br><br>

      <label for="bathrooms">Bathrooms: </label>
      <input type="text" name="rental[bathrooms]" value="<%= @rental.bathrooms %>" /><br><br>

      <label for="lease_length">Lease Length: </label>
      <input type="text" name="rental[lease_length]" value="<%= @rental.lease_length %>" /><br><br>

      <label for="monthly_rent">Monthly Rent: </label>
      <input type="text" name="rental[monthly_rent]" value="<%= @rental.monthly_rent %>" /><br><br>

      <label for="second_floor">Second Floor? </label>
      <input type="text" name="rental[second_floor]" value="<%= @rental.second_floor %>" /><br><br>

      <label for="pets_allowed">Pets Allowed? </label>
      <input type="text" name="rental[pets_allowed]" value="<%= @rental.pets_allowed %>" /><br><br>

      <label for="availability">Availability: </label>
      <input type="text" name="rental[availability]" value="<%= @rental.availability %>" /><br><br>

      <input type="submit" class="btn btn-outline-dark" style='text-decoration:none; color: #bf764c;' value="Update Rental">
    </form>
</div>