<form action="/rentals/<%= @rental.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  
  <label for="property_type">Property Type:</label>
  <input type="text" name="rental[property_type]" value="<%= @rental.property_type %>" />

  <label for="address">Address</label>
  <input type="text" name="rental[address]" value="<%= @rental.address %>" />

  <label for="bedrooms">Bedrooms</label>
  <input type="text" name="rental[bedrooms]" value="<%= @rental.bedrooms %>" />

  <label for="bathrooms">Bathrooms</label>
  <input type="text" name="rental[bathrooms]" value="<%= @rental.bathrooms %>" />

  <label for="lease_length">Lease Length:</label>
  <input type="text" name="rental[lease_length]" value="<%= @rental.lease_length %>" />

  <label for="monthly_rent">Monthly Rent:</label>
  <input type="text" name="rental[monthly_rent]" value="<%= @rental.monthly_rent %>" />

  <label for="second_floor">Second Floor?</label>
  <input type="text" name="rental[second_floor]" value="<%= @rental.second_floor %>" />

  <label for="pets_allowed">Pets Allowed?</label>
  <input type="text" name="rental[pets_allowed]" value="<%= @rental.pets_allowed %>" />

  <label for="availability">Availability:</label>
  <input type="text" name="rental[availability]" value="<%= @rental.availability %>" />

  <input type="submit" value="submit" />
</form>