<form action="/rentals" method="POST">
  
  <label for="first_name">First Name:</label>
  <input type="text" name="rental[first_name]"><br>

  <label for="last_name">Last Name:</label>
  <input type="text" name="rental[last_name]"><br>

  <label for="property_type">Property Type:</label>
  <input type="text" name="rental[property_type]" value="<%= @rental.property_type %>"><br>

  <label for="address">Address</label>
  <input type="text" name="rental[address]" value="<%= @rental.address %>"><br>

  <label for="bedrooms">Bedrooms</label>
  <input type="text" name="rental[bedrooms]" value="<%= @rental.bedrooms %>"><br>

  <label for="bathrooms">Bathrooms</label>
  <input type="text" name="rental[bathrooms]" value="<%= @rental.bathrooms %>"><br>

  <label for="lease_length">Lease Length:</label>
  <input type="text" name="rental[lease_length]" value="<%= @rental.lease_length %>"><br>

  <label for="monthly_rent">Monthly Rent:</label>
  <input type="text" name="rental[monthly_rent]" value="<%= @rental.monthly_rent %>"><br>

  <label for="second_floor">Second Floor?</label>
  <input type="text" name="rental[second_floor]" value="<%= @rental.second_floor %>"><br>

  <label for="pets_allowed">Pet Allowed?</label>
  <input type="text" name="rental[pets_allowed]" value="<%= @rental.pets_allowed %>"><br>

  <label for="availability">Availability:</label>
  <input type="text" name="rental[availability]" value="<%= @rental.availability %>"><br>

  <input type="submit" value="Create New Rental">
</form>