<div style="text-align: right; margin-top: 0px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;">
      <br><br>
      <h3 style=" color: #4a5e6c; margin-right: 375px;"> Rental:</h3><br>
            <p>
                  Address: <%= @rental.address %><br><br>
                  Property Type: <%= @rental.property_type %><br><br>
                  Bedrooms: <%= @rental.bedrooms %><br><br>
                  Bathrooms: <%= @rental.bathrooms %><br><br>
                  Lease Length: <%= @rental.lease_length %><br><br>
                  Monthly Rent: <%= @rental.monthly_rent %><br><br>
                  Second Floor? <%= @rental.second_floor %><br><br>
                  Pets Allowed? <%= @rental.pets_allowed %><br><br>
                  Available: <%= @rental.availability %><br><br>
      
                  <button type="button" class="btn btn-outline-dark">
                        <a href="/rentals/<%= @rental.id %>/edit" style='text-decoration:none; color: #bf764c;'>Edit Rental
                  </button>

                  <form action="/rentals/<%= @rental.id %>" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" class="btn btn-outline-dark" style="color: #bf764c;" value="Delete Rental">
                  </form>
                 
            </p>
</div>
